* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
  }

body{   
    font-family: 'Poppins', sans-serif;
    /* background-image: url("Images/NEW_original\ -\ Copy.png"); */
    /* background-repeat: no-repeat; */
    /* background-color:#fef6f5; */
    /* color: black; */

}

.grid-item{
    /* display:flex; */
    width:250px;
    margin-bottom:10px;

    /* flex-direction: row; */
    /* justify-content: center; */
   /* border:2px solid blue; */
    
}

.grid-item img{
        width:100%;
    border:1px solid #d6d6d6;
    /* border:2px solid blue; */
    border-radius:3px;
    transition:.2s all;
    
}

.grid{
    margin:0 auto;
   /* border:1px solid red; */
}

nav{ 
    margin:0 auto;
    width:100%;
    height:80px;
   /* border:2px solid black; */
    position:sticky; 
    top:0;
    z-index: 10;
/*    background-color: #fae0df;*/
    display:flex;
    align-items: center;
    justify-content: center;
}

.headerLinks{
    margin:auto;
    width:50%;
   /* border:2px solid black; */
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
a{
    text-decoration:none;
    color:darkslategrey;
    text-align: center;
}

.hide{
   display:none; 
}

.grid-item:hover img {

transform:scale(1.01);
/*  filter:blur(1.1px);*/
  /* opacity:0.8; */
  box-shadow:0 2px 5px 0px rgba(0,0,0,0.125);
   /* transition: 1s all; */
}

 .grid-item:hover .description{
    box-shadow: 0 0 10px rgba( 31, 38, 135, 0.37 );
    transition:0.4s ease;
} 

.grid-item:hover .stars{
    box-shadow: 0 0 10px rgba( 31, 38, 135, 0.37 );
    transition:0.4s ease;
}

a:hover{
    color:black;
    cursor:pointer;
}

a{
    border: none;
    padding:5px;
    font-family: Poppins;
    height:100%;    
    cursor: pointer;
    border-radius:3px;
   /* background-color: yellow; */
    background: none;
    /* border:2px solid green; */
}
.changeButtonColor{
    /* background-color: #faccc7; */
        border:1px solid black;
    color:black;
    transition:0.4s ease;
}
.changeColor{
    /* background-color: #fce1de; */
    background-color: white;
    border-bottom:1px solid lightgrey;
    transition:0.4s ease;
}

.mainlink{
    width:100%;
    padding:0;
}

/* FOR GRID LAYOUT */

.productImage{
    /* border:2px solid black; */
    display:flex;
    /* width:100%;
    height:100%; */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    z-index: 1;
    justify-content: center;

}

.productInfo{
    display:grid !important;
}

.stars{
    font-size:small;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    z-index: 2;
    /* border:2px solid red; */
    width:15%;
    height:20px;
    justify-self: end;
    margin:2.5%;
    text-align: end;
    border-radius:3px;
    background: rgba( 255, 255, 255, 0.35 );
    border:1px solid rgba(255, 255, 255, 0.2);
}

.description{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    z-index: 2;
    /* border:1px solid green; */
    width:95%;
    height:50px;
    align-self:end;
    justify-self:center;
    overflow:hidden;
    margin:2.5%;
    border-radius:3px;
    background: rgba( 255, 255, 255, 0.35 );
}

/* FOR GRID LAYOUT */

.productName{
    font-size: small;
    padding:5px;
}

.productDescription{
    font-size: xx-small;
    border-top:1px solid rgba(255, 255, 255, 0.2);
    padding:5px;
}

.divdesc{
    /* background-color: black; */
    border:2px solid black;
    color:black;
    width:95%;
    /* height:50px; */
    align-self:end;
    justify-self:center;
    overflow:hidden;
    margin:2.5%;
    border-radius:3px;
    background: rgba( 255, 255, 255, 0.35 );
}

.imgdiv{
    /* background-color: black; */
    background: rgba( 255, 255, 255, 0.35 );
    /* width:100% */
}

/* NEW DIVS */
.maindiv {
    border-radius: 3px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgdiv {
    line-height: 0%;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

.descdiv {
    height: 150px;
    width: 100%;;
    background: #ffffff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid #d6d6d6;
    border-right:1px solid #d6d6d6;
    border-left:1px solid #d6d6d6;
    /* border:2px solid green; */
}
/* COMMENTED TO HIDE PRODUCT NAMES */
.productNamenew {
    /* height: 13%;
    width: 95%;
    font-size: small; */
    /* border:2px solid yellow; */
}
/* COMMENTED TO HIDE PRODUCT NAMES */
.starsnew {
    /* border-top: 1px solid #cacaca; */
    height: 12%;
    /* padding-top: 1px;
    padding-bottom: 1px; */
    width: 95%;
    /* font-size: small; */
    font-size: 11px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    /* font-weight:normal; */
    /* border:2px solid pink; */
}

.new1{
/* border:1px solid green; */
/* align-self: center; */
/* font-weight: bold; */
}

.new2{
/* border:1px solid red; */
/* align-items: center; */
/* font-weight: bold; */
}

.productDescriptionnew {
    /* border:2px solid blue; */
    padding-top: 2px;
    height: 70%;
    border-top: 1px solid #cacaca;
    font-size: small;
    width: 95%;
    margin-bottom:2.5%;
    color:black;
    display: inline;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
/* NEW DIVS */

#logo img{
    position:absolute;
    left:10px;
    top:12px;
    padding:0px;
    /* border:2px solid green; */
    height:52px;
    width:113px;
}



@media screen and (max-width: 600px) {
    div.grid-item {
      /* width: 220px; */
      /* width:175px; */
      width: 195px;
    }
    div.headerLinks{
        width:80%;
        font-size: small;
    }
    #logo img{
        display:none;
    }
}